[Desktop Entry]
Type=Application
Version=1.1.0
Name=EvernightMoments
GenericName=EvernightMoments is a utility that automatically renames your visual archives by extracting original capture timestamps.
GenericName[zh_CN]=EvernightMoments 是一款通过提取照片原始拍摄时间，为您自动重命名的工具。
GenericName[zh_TW]=EvernightMoments 是一款透過提取照片原始拍攝時間，為您自動重新命名的工具。
GenericName[ja]=EvernightMoments は、写真の撮影日時を抽出し、ファイル名を自動でリネームするツールです。
Comment=EvernightMoments is a utility that automatically renames your visual archives by extracting original capture timestamps.
Comment[zh_CN]=EvernightMoments 是一款通过提取照片原始拍摄时间，为您自动重命名的工具。
Comment[zh_TW]=EvernightMoments 是一款透過提取照片原始拍攝時間，為您自動重新命名的工具。
Comment[ja]=EvernightMoments は、写真の撮影日時を抽出し、ファイル名を自動でリネームするツールです。
Icon=EvernightMoments.png
Exec=EvernightMoments
Terminal=true
Categories=Application;Graphics
Keywords=rename
